:root {
  font-size: 62.5%;

  --hue: 240;

  --tc-primary: hsl(var(--hue), 6%, 21%);

  --bg-color: hsla(var(--hue), 0%, 100%, 1);
  --bg-audio: hsla(var(--hue), 9%, 89%, 1);
  --bg-audio-active: #02799D;

  --ff-primary: 'Roboto', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  display: grid;
  place-content: center;
  height: 100vh;

  color: var(--tc-primary);
  font-family: var(--ff-primary);
  background-color: var(--bg-color);
}

#theme {
  position: absolute;
  top: 6rem;
  right: 6rem;

  cursor: pointer;
}

.hide {
  display: none;
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

#timer span {
  font-size: 12.6rem;
}

#timer .controllers {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

#audio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.2rem;
}

#audio button {
  padding: 4.8rem;
  background-color: var(--bg-audio);

  border-radius: 2.4rem;
  transition: filter 700ms;

  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  align-items: center;
}

#audio button:hover {
  filter: opacity(.5);
}

#audio button.active {
  background-color: var(--bg-audio-active);
}

#audio button.active svg path {
  fill: white;
}

.darkTheme {
  background: #121214;
  color: white;
}

.darkTheme #audio button input {
  appearance: none;
  background: none;
}

.darkTheme #audio button input::-webkit-slider-runnable-track {
  background-color: #C4C4CC;
  height: .7rem;
  width: 100%;
  border-radius: 2px solid;
  border-radius: 1rem;

  margin: .5rem;
}

.darkTheme #audio button input::-webkit-slider-thumb {
  margin-top: -.4rem;
}

.darkTheme button svg path {
  fill: #C4C4CC;
}

.darkTheme #audio button {
  background-color: #29292E;
}

.darkTheme #audio button.active {
  background-color: #0A3442;
}


/** responsive **/

@media (max-width: 1220px) {
  body {
    padding: 2rem;
  }

  #timer span {
    font-size: 10.6rem;
  }

  #timer .controllers {
    justify-content: center;
    gap: 3rem;
  }

  #audio {
    gap: 2rem;
  }

  #audio button {
    padding: 3rem;
  }
}

@media (max-width: 1000px) {

  #theme {
    position: absolute;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  main {
    grid-template-columns: 1fr;
  }

  #timer span {
    font-size: 8.6rem;
  }

  #audio {
    gap: 1.5rem;
  }

  #audio button {
    padding: 2.5rem;
  }

}