#theme {
  position: absolute;
  top: 6rem;
  right: 6rem;

  cursor: pointer;
}

#timer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
}

#timer span {
  font-size: 12.6rem;
}

#timer .controllers {
  display: flex;
  gap: 3rem;
}

/** Audio Style */
#audio {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}

#audio button {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
  
  padding: 4.8rem;
  background-color: var(--bg-audio);

  border-radius: 2.4rem;
  transition: filter 700ms;
}

#audio button:hover {
  filter: opacity(.5);
}

#audio button.active {
  background-color: var(--bg-audio-active);
}

#audio button.active svg path {
  fill: white;
}

.dark #audio button input::-webkit-slider-runnable-track {
  background-color: #C4C4CC;
  height: .7rem;
  width: 100%;
  border-radius: 2px solid;
  border-radius: 1rem;

  margin: .5rem;
}

.dark #audio button input::-webkit-slider-thumb {
  margin-top: -.4rem;
}

.dark button svg path {
  fill: #C4C4CC;
}

.dark #audio button {
  background-color: #29292E;
}

.dark #audio button.active {
  background-color: #0A3442;
}
