:root {
  font-size: 62.5%;

  --hue: 240;

  --ff-primary: 'Roboto', sans-serif;
  --tt-color-primary: hsl(var(--hue), 6%, 21%);

  --bg-color: hsla(var(--hue), 0%, 100%, 1);
  --bg-audio: hsla(var(--hue), 9%, 89%, 1);
  --bg-audio-active: #02799D;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  
  font-size: 1.6rem;

  color: var(--tt-color-primary);
  font-family: var(--ff-primary);
  background-color: var(--bg-color);
}

main {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr 1fr;
  gap: 20rem;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}

.hide {
  display: none;
}

.dark body {
  background: #121214;
  color: white;
}

.dark #audio button input {
  appearance: none;
  background: none;
}


@media (max-width: 1220px) {
  body {
    padding: 3rem;
  }

  #timer span {
    font-size: 10.6rem;
  }

  #timer .controllers {
    justify-content: center;
    gap: 3rem;
  }

  #audio {
    gap: 2rem;
  }

  #audio button {
    padding: 3rem;
  }
}

@media (max-width: 900px) {

  body {
    display: flex;
    justify-content: center;
    align-items: flex-start;
  }

  #theme {
    position: absolute;
    top: 2rem;
    right: 2rem;

    cursor: pointer;
  }

  main {
    grid-template-columns: 1fr;
  }

  #timer span {
    font-size: 8.6rem;
  }

  #audio {
    gap: 1.5rem;
  }

  #audio button {
    padding: 2rem;
  }
}